<!DOCTYPE html>
<html>
    <head>
        <title>Student Profiles</title>
        <link rel="stylesheet" type="text/css" href="styles/student-profile.css"
    </head>
    <body>
        <h1>STUDENT PROFILES</h1>
        <ul>
            <li><a href="student1.html">MERCY KATUPIRA</a></li>
            <li><a href="student2.html">DYLAN KANEMANYANGA</a></li>
            <li><a href="student3.html">TINAYE SACHIKONYE</a></li>
            <li><a href="student4.html">MAKANAKA MADONGORERE</a></li>
            <li><a href="student5.html">TAKUDZWA KATERERE</a></li>
        </ul>
    </body>
</html>