<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css"
        <title>school grading system</title>
</head>
<body>
    <div class="profile"
    <h1>Student Profile</h1>
    <div class="student-info">
    <img src="images/student5.jpg" alt="student image">
    <p>NAME: TAKUDZWA KATERERE</p>
    <p>GRADE: FORM 1A</p>
    </div>
    <div class="RESULTS">
        <h2>RESULTS</h2>
        <table>
            <tr>
                <th>SUBJECT</th>
                <th>GRADE</th>
            </tr>
            <tr>
                <td>BIOLOGY</td>
                <td>B</td>
            </tr>
            <tr>
                <td>CHEMISTRY</td>
                <td>B</td>
            </tr>
            <tr>
                <td>PHYSICS</td>
                <td>C</td>
            </tr>
                <tr>
                    <td>GEOGRAPHY</td>
                    <td>A</td>
                </tr></td>
            </tr>
            <tr>
                <td>COMPUTER SCIENCE</td>
                <td>B</td>
            </tr>
            <tr>
                <td>MATHEMATICS</td>
                <td>A</td>
            </tr>
        </table>
    </div>
    <div class="button-container">
        <a href="student4.html"><button>Prev<<</button></a>
    </div>
</body>
</html>
